* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.uk-container {
    margin: 0px auto;
}

.tag-link {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: rgba(255, 255, 255, .3);
    padding: 16px 32px;
    border-radius: 6px;
    transition: all .3s ease;
    &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, .5);
        text-decoration: none;
        transition: all .3s ease;
    }
    &__icon {
        display: inline-flex;
        align-items: center;
        gap: 18px;
    }
}

.base-btn {
    cursor: pointer;
    text-decoration: none;
    padding: 24px 32px;
    display: inline-flex;
    border-radius: 8px;
    background-color: #fff;
    font-weight: 600;
    color: #000;
    transition: all .3s ease;
    &:hover {
        transition: all .3s ease;
        text-decoration: none;
        color: #000;
        transform: scale(1.03);
    }
}

// Digit-section
.section-infodigit {
    padding: 64px 0px;
    background-color: #D3D4DA;
}
.infodigit-wrap {
    display: flex;
    gap: 32px;
}

.infodigit-main-card {
    background-color: #6BA1EF;
    padding: 64px;
    border-radius: 16px;
    position: relative;
    width: 70%;
    &__bg {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 100%; 
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        width: 65%;
        position: relative;
        z-index: 9999;
    }
    &__title {
        margin-top: 32px;
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
    }
    &__text {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 0;
        color: #fff;
        margin-bottom: 64px;
    }
}
.infodigit-list {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.infodigit-card {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 10px;
    border-radius: 16px;
    background-color: skyblue;
    transition: all .3s ease;
    position: relative;
    background-size: cover;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        border-radius: 16px;
        background-color: rgba(0, 0, 0, .5);
    }
    &:first-child {
        background: url(../img/common/Rectangle\ 425.png) no-repeat center top;
    }
    &:nth-child(2) {
        background: url(../img/common/Rectangle\ 4261.png) no-repeat center top;
    }
    &:nth-child(3) {
        background: url(../img/common/Rectangle\ 425.png) no-repeat center top;
    }
    &:hover {
        transition: all .3s ease;
        text-decoration: none;
        color: #fff;
        background-image: none;
        background-color: #808394;
    }
    &__icon {
        position: relative;
        z-index: 9999;
        flex-shrink: 0;
        border: 1px solid #fff;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        position: relative;
        z-index: 9999;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }
}